Body {

background-color: #e47571;


}

Body > h1:first-child{

font-family: 'Indie Flower', cursive;
text-align: center;
color: white;
font-size: 50px;

}

.Menu{

background-color: black;
height: 500px;


}

.Menu a{

color:  White;
border: 5px solid white;
font-size: 50px;


}
