Body {
background-color: #FFC36B;
margin: 0px;
}


h1:hover{background-color: #00f6ffdb;transition: 1s;}

h1{
color:  #FF7F00;
border: 10px solid white;
font-size: 150px;
border-left: none;
font-family: 'Indie Flower', cursive;
display:  block;
width: 350px;
transition:  1s;
}

.menu {
list-style-type: none;
background-color: #B7FFED;
font-size: 70px;
display: inline-block;
font-family: 'Lilita One', cursive;
padding: 0px;
height: 1000px;
}

.menu li{
padding-bottom: 100px;
padding-top: 10px;
}
